@font-face{
    font-family: Hammersmith One;
    src: url('/fonts/HammersmithOne.ttf');
}

body:not(textarea){
    color: white;
    font-family: Hammersmith One;
    background-image: url('/images/background.jpg');
}

h1, h2, .center{
    text-align: center;
}

#layer{
    background-color: rgba(50, 50, 50, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -100;
}

.songContainer{
    margin: auto;
    background-color: rgba(255, 255, 255, 0.7);
    width: 70vw;
    color: black;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 220px auto;
    padding-bottom: 7.5px;
    align-items: stretch;
}

.songContainer img:first-of-type{
    display: inline-block;
    border-radius: 15px 0px 0px 0px;
}

.imageContainer{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 15px 0px 0px 15px;
    padding-bottom: 7.5px;
}

.songData{
    display: inline-block;
    vertical-align: top;
    margin-left: 25px;
}

div > .songContainer{
    margin-top: 20px;
}

textarea{
    background-color: black;
    color: yellow;
    display: block;
    margin: auto;
}
